extends layout.pug

block content
    .profile-container
        .profile-left
            ul.pet-list
                //- each dog in matches
                //-     li.pet= `${dog.name}, ${dog.age}, ${dog.size}, ${dog.Breed.breedName}, ${dog.ShelterUser.shelterName}`

        .profile-right
            .info-container
                h3 James Ballard
                .contact
                    p jballa91@gmail.com
                    p 2223334444
            nav.links-container
                ul.profile-nav-list
                    li: a.profile-nav-link(href="#") Edit your dream pet
                    li: a.profile-nav-link(href="#") Matches
                    li: a.profile-nav-link(href="#") Adoption requests